body{
    background-image: linear-gradient(#878787,
    #475095,
    #557766);

    height: 200px;
}
section{
    color: brown;
    height: 50%;
    width: 50%;
    margin: 30%;
    al
}
video{
    width: 500;
}